/* default css */



/* For Myriad Pro Similar Font */

@font-face {
 font-family: 'VegurRegular';
 src: url('../font/vegur-r_0.600-webfont.eot');
 src: url('../font/vegur-r_0.600-webfont.eot?#iefix') format('eot'),  url('../font/vegur-r_0.600-webfont.woff') format('woff'),  url('../font/vegur-r_0.600-webfont.ttf') format('truetype'),  url('../font/vegur-r_0.600-webfont.svg#webfontO3O3Dmvu') format('svg');
 font-weight: normal;
 font-style: normal;
}
body {
	font-family:VegurRegular, Arial, Verdana, sans-serif;
	margin:0;
	padding:0;
}
body a {
	outline:none;
}
#wrapper {
	width:1002px;
	margin:0 auto;
	padding:0;
}
h1 {
	font-size:1.8em;
	color:#14b8b8;
}
h2 {
	font-size:1.6em;
	color:#14b8b8;
}
h3 {
	font-size:1.4em;
	color:#14b8b8;
}
h4 {
	margin-top:0px;
	margin-bottom:0px;
	font-size:1.2em;
	color:#14b8b8;
}
p, li, td {
	font-size:1.1em;
	line-height: 1.2em;
}
a, a:link {
	color:#7b5722;
	text-decoration:underline;
}
a:hover {
	text-decoration:none;
}
#nav {
	float:left;
	width:120px;
	height:auto;
}
#nav ul {
	margin: 0 0 0 10px;
	padding: 0;
	float:left;
	width:104px;
	background:#c3e9fb;
	list-style: none;
}
#nav ul li.cat {
	font-size:1em;
	padding-left:5px;
}
#nav ul li.active-link {
	background:#7b5722;
	color:#ffffff;
}
#nav ul li.active-link a {
	color:#ffffff;
}
#nav ul li.subcat {
	padding-left:15px;
	font-size:.9em;
}
#nav li.cat a {
	text-decoration: none;
	color: #7b5722;
	border: none;
	font-size:13px;
}
#nav li.subcat a {
	text-decoration: none;
	color: #3F3F3F;
	border: none;
}
#nav ul li.cat:hover {
	background:#7b5722;
	color:#ffffff;
}
#nav ul li.cat:hover a {
	background:#7b5722;
	color:#ffffff;
}
#nav ul li.subcat:hover {
	background:#7b5722;
	color:#ffffff;
}
#nav li.subcat a:hover {
	text-decoration:none;
	color:#ffffff;
}
#nav li.cat a:hover {
	text-decoration:none;
	color:#ffffff;
}
#header {
	font-size:12px;
	margin-bottom:10px;
}
#pleft {
	float:left;
	width:736px;
}
#pleft img {
	padding-right:10px;
}
#pright {
	float:right;
	height:auto;
	width:180px;
	text-align:left;
	padding-left:5px;
}
#pright img {
	padding-right:3px;
}
.message {
	border:1px solid #c98c21;
	background-color:#7b5722;
	color:#FFFFFF;
	padding:5px;
	float:left;
	width:250px;
	font-size:12px;
	margin:5px 0px 5px 0px;
}
.message1 {
	border:1px solid #ff0000;
	background:none;
	color:#ff0000;
	padding:5px;
	float:left;
	width:700px;
	font-size:12px;
	margin:5px 0px 5px 0px;
}
.floatleft {
	float:left;
}
.floatright {
	float:right;
}
/* Different Navigation */

#globalmenu {
	width:736px;
	margin:0 132px;
	padding: 0 0 10px;
	background:#ffffff;
	float:left;
}
#globalmenu ul {
	margin: 0;
	padding: 0 0 0 25px;
	float:left;
	width:416px;
	list-style: none;
}
#globalmenu li {
	float: left;
	margin: 0;
	padding:0;
	line-height:30px;
	border-right: 1px solid #7b5722;
}
#globalmenu li a {
	float: left;
	display: block;
	padding:0 12px;
	font-size:12px;
	color:#7b5722;
	/*font-family:VegurRegular, Arial, Verdana, sans-serif;*/

	font-family:Arial, Verdana, sans-serif;
	text-transform:lowercase;
	text-decoration: none;
	height:22px;
	line-height:22px;
	text-align: center;
	cursor: pointer;
	border: none;
}
#globalmenu li a:hover {
	color: #7b5722;
	text-decoration:underline;
}
/* navigation */

#globalnav {
	width:736px;
	margin:0 132px;
	padding: 0;
	background:#ffffff;
	float:left;
}
#globalnav ul {
	margin: 0;
	padding: 0 0 0 52px;
	float:left;
	width:429px;
	list-style: none;
}
#globalnav li {
	float: left;
	margin: 0;
	padding:0 2px;
	background:url(../images/seperator.jpg) no-repeat right 7px;
}
#globalnav li a {
	float: left;
	display: block;
	padding:0 0 0 12px; /*Padding to accomodate left tab image. Do not change*/
	font-size:12px;
	color:#7b5722;
	font-family:Arial, Verdana, sans-serif;
	/*font-family:VegurRegular, Arial, Verdana, sans-serif;*/

	text-transform:lowercase;
	text-decoration: none;
	height:35px;
	line-height:35px;
	text-align: center;
	cursor: pointer;
	border: none;
}
#globalnav li a span {
	float: left;
	display: block;
	padding: 0 13px 0 0; /*Padding of menu items*/
}
#globalnav li a.active-tab {
	background-position: left;
	background:url(../images/tab-left-corner.jpg) no-repeat;/*left tab image path*/
	color: #7b5722;
}
#globalnav li a:hover {
	background-position: left;
	background:url(../images/tab-left-corner.jpg) no-repeat;/*left tab image path*/
	color: #7b5722;
}
#globalnav li a.active-tab span, #globalnav li a:hover span {
	background:url(../images/tab-right-corner.jpg) no-repeat right top;/*right tab image path*/
}
#globalnav li form {
	padding:3px 0px;
}
img.thumbnail {
	clear:both;
	float:left;
	margin-right:5px;
	margin-bottom:15px;
}
.productlisting {
	clear:both;
	float:left;
	width:70%;
	font-size:.8em;
	margin-bottom:30px;
}
/* to top */

#toTop {
	width:100px;
	background:#7b5722;
	/*border:1px solid #c3e9fb;*/

	text-align:center;
	padding:5px;
	position:fixed;
	bottom:10px;
	right:10px;
	cursor:pointer;
	color:#fff;
	text-decoration:none;
	display:none !important;
}
/* CSS written By Sujit */



#maincontainer {
	margin:0;
	padding:44px 0 0;
	float:left;
	width:1000px;
	border:1px solid #78cdce;
}
.logo {
	margin:0;
	padding:15px 0 15px 148px;
	float:left;
	width:852px;
	height:84px;
	background:url(../images/header-bg.png) no-repeat 0 0 #ffffff;
}
.logo a {
	outline:none !important;
}
.logo img {
	border:none;
}
#maincontent {
	margin:0;
	padding:0;
	float:left;
	width:1000px;
	background:url(../images/body-bg.jpg) repeat 0 0;
}
#main {
	margin:0 auto;
	padding:0;
	width:736px;
}
#mainsection {
	margin:0 0 0 12px;
	padding:0;
	float:left;
	width:736px;
}
.main-content {
	margin:0;
	padding:0;
	float:left;
	width:736px;
	background:#ffffff;
}
.content {
	margin:0 0 0 10px;
	padding:0;
	float:left;
	width:736px;
	background:#ffffff;
}
#footer {
	clear:both;
	margin:0 auto;
	padding:0;
	font-size:9px;
	width:736px;
	background:#ffffff;
}
#footer p {
	text-align:right;
	margin:0;
	padding:5px 0;
}
.footer-section {
	margin:0;
	padding:0;
	float:left;
	width:736px;
	background:#ffffff;
}
.footer-section .newsletter{
	margin:0;
	padding:32px 0 30px 140px;
	float:left;
	width:310px;
}
.footer-section .newsletter input[type=text] {
	float:left;
	padding: 2px 5px;
	border:1px solid #7b561f;
	font-family:Arial, Verdana, sans-serif;
	/*font-family:VegurRegular, Arial, Verdana, sans-serif;*/
	color:#7b561f;
	font-size:10px;
}
.footer-section .newsletter p {
	float:left;
	margin:0;
	padding:0 5px 0 0 !important;
	width:120px;
	padding:0;
	line-height:20px;
	font-family:Arial, Verdana, sans-serif;
	/*font-family:VegurRegular, Arial, Verdana, sans-serif;*/
	color:#7b561f;
	font-size:11px;
}
.n-button {
	margin:2px 0 0 10px;
	padding:0;
	float:left;
	width:17px;
	height:16px;
	border:none;
	cursor:pointer;
	background:url(../images/go-button.jpg) no-repeat 0 0;
}
.social-links {
	margin:0 0 0 20px;
	padding:30px 0 30px;
	float:left;
	width:200px;
}
.social-links ul {
	margin:0;
	padding:0;
}
.social-links ul li {
	padding:0 2px;
	list-style:none;
	display:inline;
}
.social-links ul li img {
	border:none;
}
#search {
	float: right;
	margin:-10px 20px 0 0;
	padding:0 0 5px;
	width:235px;
	font-family:Arial, Verdana, sans-serif;
	/*font-family:VegurRegular, Arial, Verdana, sans-serif;*/

	color:#5c5c5c;
	font-size:11px;
	line-height:18px;
}
#search a {
	font-family:Arial, Verdana, sans-serif;
	/*font-family:VegurRegular, Arial, Verdana, sans-serif;*/

	font-size:11px;
	color:#7b5722;
	text-decoration:none;
}
#search a:hover {
	text-decoration:underline;
}
#search ul {
	margin:0;
	padding:0;
	list-style:none;
}
#search ul li {
	list-style:none;
	border:none;
}
#search form {
	margin:0;
	padding:0;
	float:right;
}
#search form input[type=text] {
	margin:0;
	padding:2px;
	float:left;
	width:108px;
	font-size:10px;
	border:1px solid #7b5722;
	color:#7b5722;
}
#search form input[type=submit] {
	margin:2px 0 0 10px;
	padding:2px;
	float:left;
	font-size:10px;
	line-height:10px;
	color:#ffffff;
	background:#7b5722;
	font-weight:bold;
	border:none;
	text-transform:uppercase;
	cursor:pointer;
}
/* CSS for sholling cart */

#cart-structure {
	margin:0;
	padding:0;
	float:left;
	width:368px;
	background:url(../images/checkout-left-top.jpg) no-repeat 0 0;
}
.columns-bg {
	margin:0;
	padding:0;
	float:left;
	width:100%;
	background:url(../images/cart-column-seperator.jpg) repeat-y 0 0 #c3e9fb;
	border-bottom:1px solid #ffffff;
}
.firstcol {
	margin:0;
	padding:0;
	float:left;
	width:100px;
}
.firstcol h6 {
	margin:0;
	padding:0;
	text-align:center;
	line-height:38px;
	font-family:VegurRegular, Arial, Verdana, sans-serif;
	font-size:12px;
	color:#ffffff;
	font-weight:normal;
}
.secondcol {
	margin:0;
	padding:0;
	float:left;
	width:76px;
}
.secondcol h6 {
	margin:0;
	padding:0;
	text-align:center;
	line-height:38px;
	font-family:VegurRegular, Arial, Verdana, sans-serif;
	font-size:10px;
	color:#ffffff;
	font-weight:normal;
}
.thirdcol {
	margin:0;
	padding:0;
	float:left;
	width:87px;
}
.thirdcol h6 {
	margin:0;
	padding:0;
	text-align:center;
	line-height:38px;
	font-family:VegurRegular, Arial, Verdana, sans-serif;
	font-size:10px;
	color:#ffffff;
	font-weight:normal;
}
.fourthcol {
	margin:0;
	padding:0;
	float:left;
	width:35px;
}
.fourthcol h6 {
	margin:0;
	padding:0;
	text-align:center;
	line-height:38px;
	font-family:VegurRegular, Arial, Verdana, sans-serif;
	font-size:10px;
	color:#ffffff;
	font-weight:normal;
}
.first-col {
	margin:0;
	padding:0;
	float:left;
	width:100px;
}
.first-col h6 {
	margin:0;
	padding:0;
	text-align:center;
	line-height:38px;
	font-family:VegurRegular, Arial, Verdana, sans-serif;
	font-size:12px;
	color:#ffffff;
	font-weight:normal;
}
.first-col .thumbnail {
	margin:0;
	padding:10px 0 10px 8px;
	float:left;
	width:93px;
	min-height:77px;/*background:url(../images/checkout-thumb-frame.png) no-repeat 8px 8px;*/

}
.second-col {
	margin:0;
	padding:0;
	float:left;
	width:76px;
}
.second-col h6 {
	margin:0;
	padding:0;
	text-align:center;
	line-height:38px;
	font-family:VegurRegular, Arial, Verdana, sans-serif;
	font-size:10px;
	color:#ffffff;
	font-weight:normal;
}
.second-col .second-row {
	margin:0 0 0 1px;
	padding:10px 5px 5px;
	float:left;
	width:65px;
	min-height:82px;
	/*	background:#c3e9fb;

*/	text-align:center;
}
.second-col .second-row p {
	margin:0;
	padding:0;
	font-family:VegurRegular, Arial, Verdana, sans-serif;
	font-size:11px;
	line-height:18px;
	text-transform:capitalize !important;
	color:#7b561f;
	font-weight:bold;
}
.third-col {
	margin:0;
	padding:0;
	float:left;
	width:86px;
}
.third-col h6 {
	margin:0;
	padding:0;
	text-align:center;
	line-height:38px;
	font-family:VegurRegular, Arial, Verdana, sans-serif;
	font-size:10px;
	color:#ffffff;
	font-weight:normal;
}
.third-col .unit-price {
	margin:0 0 0 1px;
	padding:10px;
	float:left;
	width:65px;
	min-height:77px;
	/*	background:#c3e9fb;

*/	text-align:center;
	vertical-align:middle;
}
.third-col .unit-price p {
	margin:0;
	padding:0;
	font-family:VegurRegular, Arial, Verdana, sans-serif;
	font-size:12px;
	line-height:18px;
	font-weight:bold;
	color:#7b561f;
}
.fourth-col {
	margin:0;
	padding:0;
	float:left;
	width:36px;
}
.fourth-col h6 {
	margin:0;
	padding:0;
	text-align:center;
	line-height:38px;
	font-family:VegurRegular, Arial, Verdana, sans-serif;
	font-size:10px;
	color:#ffffff;
	font-weight:normal;
}
.fourth-col .qty-row {
	margin:0;
	padding:10px 5px;
	float:left;
	width:25px;
	min-height:77px;
	/*	background:#c3e9fb;

*/	text-align:center;
	vertical-align:middle;
}
.fourth-col .qty-row p {
	margin:0;
	padding:0;
}
.fourth-col .qty-row input {
	margin:0;
	padding:5px 2px;
	width:15px;
	height:11px;
	font-size:11px;
	border:1px solid #e0f3fd;
}
.fifth-col {
	margin:0;
	padding:0;
	float:left;
	width:70px;
}
.fifth-col h6 {
	margin:0;
	padding:0;
	text-align:center;
	line-height:38px;
	font-family:VegurRegular, Arial, Verdana, sans-serif;
	font-size:10px;
	color:#ffffff;
	font-weight:normal;
}
.fifth-col .sub-total {
	margin:0 0 0 1px;
	padding:10px;
	float:left;
	width:48px;
	min-height:77px;
	/*	background:#c3e9fb;

*/	text-align:center;
	vertical-align:middle;
}
.for-buttons {
	margin:0;
	padding:0;
	float:left;
	width:100%;
	border-top:1px solid #ffffff;
	background:#c4e9fb;
}
.for-buttons p {
	margin:0;
	padding:5px 20px;
}
.for-buttons input[type=submit] {
	margin:0;
	padding:0;
	width:50px;
	border:none;
	text-align:center;
	line-height:12px;
	height:20px;
	background:#7b5722;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	cursor:pointer;
	font-weight:normal;
	color:#ffffff;
}
.for-buttons a {
	margin:0;
	padding:2px;
	width:50px;
	border:none;
	text-align:center;
	line-height:12px;
	height:20px;
	background:#7b5722;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	cursor:pointer;
	font-weight:normal;
	color:#ffffff;
	text-decoration:none;
}
.for-buttons a:hover {
	text-decoration:none;
}
.fifth-col .sub-total p {
	margin:0;
	padding:0;
	font-family:VegurRegular, Arial, Verdana, sans-serif;
	font-size:12px;
	font-weight:bold;
	line-height:18px;
	color:#7b561f;
}
.continue-button {
	margin:10px 0 0;
	padding:0;
	float:right;
	width:187px;
	height:20px;
}
.continue-button a.c-button {
	margin:0;
	padding:0;
	float:right;
	width:187px;
	height:20px;
	background:url(../images/continue-shopping.jpg) no-repeat 0 0;
	border:none;
	cursor:pointer;
	text-decoration:none;
}
.continue-button a.c-button:hover {
	text-decoration:underline;
}
.checkout-process {
	margin:0;
	padding:10px;
	float:right;
	width:338px;
	background:#c3e9fb;
	color:#7b5722;
}
.checkout-process form {
	margin:0;
	padding:0;
	float:left;
	width:100%;
}
.checkout-process a {
	text-decoration:none;
	cursor:pointer;
}
.checkout-process h3 {
	margin:0 0 10px;
	padding:10px 0 5px;
	float:left;
	width:338px;
	font-size:16px;
	font-weight:bold;
	color:#7b5722;
	text-transform:uppercase;
	border-bottom:2px solid #7b5722;
}
.checkout-step-one {
	margin:0;
	padding:0;
	float:left;
	width:338px;
}
.checkout-step-one .left-col {
	margin:0;
	padding:0;
	float:left;
	width:165px;
}
.checkout-step-one .left-col a.continue {
	margin:0 10px 0 0;
	padding:2px 5px;
	float:right;
	width:40px;
	font-size:10px;
	font-family:VegurRegular, Arial, Verdana, sans-serif;
	line-height:10px;
	text-align:center;
	background:#7b5722;
	color:#fff;
	text-decoration:none;
}
.checkout-step-one .left-col a.continue:hover {
	background:#7b5722;
	color:#fff;
	text-decoration:none;
}
.checkout-step-one .left-col p {
	margin:0;
	padding:0;
	/*font-family:VegurRegular, Arial, Verdana, sans-serif;*/

	font-family:Arial, Verdana, sans-serif;
	font-size:11px;
	line-height:16px;
	color:#7b5722;
}
.checkout-step-one .left-col p span {
	margin:0;
	padding:0 0 0 10px;
	/*font-family:VegurRegular, Arial, Verdana, sans-serif;*/

	font-family:Arial, Verdana, sans-serif;
	font-size:11px;
	line-height:16px;
	color:#7b5722;
}
.checkout-step-one .right-col {
	margin:0;
	padding:0;
	float:right;
	width:152px;
}
.checkout-step-one .right-col p {
	margin:0;
	padding:0;
	/*font-family:VegurRegular, Arial, Verdana, sans-serif;*/

	font-family:Arial, Verdana, sans-serif;
	font-size:11px;
	line-height:16px;
	color:#7b5722;
}
.checkout-step-one .right-col p input {
	margin:0;
	padding:0;
	width:150px;
	border:1px solid #7b5722;
	/*font-family:VegurRegular, Arial, Verdana, sans-serif;*/

	font-family:Arial, Verdana, sans-serif;
	font-size:11px;
	color:#000;
}
.bottom-link {
	margin:10px 0 0;
	padding:0;
	float:left;
	width:100%;
	/*font-family:VegurRegular, Arial, Verdana, sans-serif;*/

	font-family:Arial, Verdana, sans-serif;
	font-size:11px;
	color:#7b5722;
}
.bottom-link a {
	float:left;
	color:#7b5722 !important;
	font-size:10px;
	line-height:11px !important;
	text-decoration:underline !important;
}
.bottom-link a:hover {
	color:#7b5722;
	text-decoration:none !important;
}
.bottom-link input.login {
	margin:0;
	padding:2px 5px;
	float:right;
	width:37px !important;
	text-align:center;
	background:#7b5722 !important;
	color:#fff !important;
	text-decoration:none !important;
	cursor:pointer;
}
.bottom-link input.login:hover {
	background:#7b5722;
	color:#fff;
	text-decoration:none !important;
}
.checkout-step-two {
	margin:0;
	padding:0;
	float:left;
	width:338px;
}
.checkout-step-two .left-col {
	margin:0;
	padding:0;
	float:left;
	width:165px;
}
.checkout-step-two p {
	margin:0;
	padding:0;
	/*font-family:VegurRegular, Arial, Verdana, sans-serif;*/

	font-family:Arial, Verdana, sans-serif;
	font-size:11px;
	line-height:16px;
	color:#7b5722;
}
.checkout-step-two p input {
	margin:0;
	padding:0;
	width:336px;
	font-size:10px;
	border:1px solid #7b5722;
}
.checkout-step-two .left-col p {
	margin:0;
	padding:0;
	/*font-family:VegurRegular, Arial, Verdana, sans-serif;*/

	font-family:Arial, Verdana, sans-serif;
	font-size:11px;
	line-height:16px;
	color:#7b5722;
}
.checkout-step-two .left-col p input {
	margin:0;
	padding:0;
	width:150px;
	border:1px solid #7b5722;
	font-family:VegurRegular, Arial, Verdana, sans-serif;
	font-size:11px;
	color:#000;
}
.checkout-step-two .right-col {
	margin:0;
	padding:0;
	float:right;
	width:152px;
}
.checkout-step-two .right-col p {
	margin:0;
	padding:0;
	/*font-family:VegurRegular, Arial, Verdana, sans-serif;*/

	font-family:Arial, Verdana, sans-serif;
	font-size:11px;
	line-height:16px;
	color:#7b5722;
}
.checkout-step-two .right-col p input {
	margin:0;
	padding:0;
	width:150px;
	border:1px solid #7b5722;
	/*font-family:VegurRegular, Arial, Verdana, sans-serif;*/

	font-family:Arial, Verdana, sans-serif;
	font-size:11px;
	color:#000;
}
.checkout-step-two a.continue {
	margin:0;
	padding:2px 5px;
	float:right;
	width:40px;
	font-size:10px;
	line-height:10px;
	text-align:center;
	font-family:VegurRegular, Arial, Verdana, sans-serif;
	background:#7b5722;
	color:#fff;
	text-decoration:none;
}
.select-ship {
	margin:10px 0 0;
	padding:0;
	float:left;
	width:100%;
	font-family:VegurRegular, Arial, Verdana, sans-serif;
	font-size:11px;
	color:#7b5722;
}
/* CSS for Custom Radio Buttons */

span.radio {
	width:10px;
	height:10px;
	margin:0;
	padding:0 5px 0 0;
	display: block;
	clear: left;
	float: left;
	background:url(../images/radio.png) no-repeat;
}
input.styled {
	display: none;
}
.checkout-step-three {
	margin:0;
	padding:0;
	float:left;
	width:338px;
}
.checkout-step-three .left-col {
	margin:0;
	padding:0;
	float:left;
	width:165px;
}
.checkout-step-three p {
	margin:0;
	padding:0;
	font-family:VegurRegular, Arial, Verdana, sans-serif;
	font-size:11px;
	line-height:16px;
	color:#7b5722;
}
.checkout-step-three p input {
	margin:0;
	padding:0;
	width:331px;
	font-size:10px;
	border:1px solid #7b5722;
}
.checkout-step-three .left-col p {
	margin:0;
	padding:0;
	font-family:VegurRegular, Arial, Verdana, sans-serif;
	font-size:11px;
	line-height:16px;
	color:#7b5722;
}
.checkout-step-three .left-col p input {
	margin:0;
	padding:0;
	width:150px;
	border:1px solid #7b5722;
	font-family:VegurRegular, Arial, Verdana, sans-serif;
	font-size:11px;
	color:#000;
}
.checkout-step-three .right-col {
	margin:0;
	padding:0;
	float:right;
	width:152px;
}
.checkout-step-three .right-col p {
	margin:0;
	padding:0;
	font-family:VegurRegular, Arial, Verdana, sans-serif;
	font-size:11px;
	line-height:16px;
	color:#7b5722;
}
.checkout-step-three .right-col p input {
	margin:0;
	padding:0;
	width:150px;
	border:1px solid #7b5722;
	font-family:VegurRegular, Arial, Verdana, sans-serif;
	font-size:11px;
	color:#000;
}
.checkout-step-three a.continue {
	margin:0;
	padding:2px 5px;
	float:right;
	width:40px;
	font-size:10px;
	line-height:10px;
	text-align:center;
	background:#7b5722;
	color:#fff;
	text-decoration:none;
}
.checkout-step-five {
	margin:0;
	padding:0;
	float:left;
	width:338px;
}
.checkout-step-five p {
	margin:0;
	padding:0;
}
.checkout-step-five .headings {
	margin:0;
	padding:0;
	float:left;
	width:338px;
	height:29px;
	background:url(../images/order-review-top.png) no-repeat 0 0;
}
.head-one {
	margin:0;
	padding:7px 0 0 28px;
	float:left;
	width:154px;
	font-family:VegurRegular, Arial, Verdana, sans-serif;
	font-size:11px;
	line-height:18px;
	color:#ffffff;
}
.head-two {
	margin:0;
	padding:7px 0 0;
	float:left;
	width:58px;
	font-family:VegurRegular, Arial, Verdana, sans-serif;
	font-size:11px;
	line-height:18px;
	color:#ffffff;
	text-align:center;
}
.head-three {
	margin:0;
	padding:7px 0 0;
	float:left;
	width:30px;
	font-family:VegurRegular, Arial, Verdana, sans-serif;
	font-size:11px;
	line-height:18px;
	color:#ffffff;
	text-align:center;
}
.head-four {
	margin:0;
	padding:7px 0 0;
	float:left;
	width:67px;
	font-family:VegurRegular, Arial, Verdana, sans-serif;
	font-size:11px;
	line-height:18px;
	color:#ffffff;
	text-align:center;
}
.p-name {
	margin:0;
	padding:8px 0 8px 28px;
	float:left;
	width:150px;
	font-size:12px;
	border-left:2px solid #7b5722;
	border-right:2px solid #7b5722;
	border-bottom:2px solid #7b5722;
}
.u-price {
	margin:0;
	padding:8px 0 8px;
	float:left;
	width:56px;
	font-size:12px;
	text-align:center;
	border-right:2px solid #7b5722;
	border-bottom:2px solid #7b5722;
}
.p-qty {
	margin:0;
	padding:8px 0;
	float:left;
	width:29px;
	font-size:12px;
	text-align:center;
	border-right:2px solid #7b5722;
	border-bottom:2px solid #7b5722;
}
*:first-child+html .p-qty {
	margin:0;
	padding:5px 0;
	float:left;
	width:29px;
	font-size:12px;
	text-align:center;
	border-right:2px solid #7b5722;
	border-bottom:2px solid #7b5722;
}
.p-qty input {
	margin:0;
	padding:2px;
	width:18px;
	font-size:11px;
	color:#7b5722;
	border:1px solid #d1eefc;
}
.p-subtotal {
	margin:0;
	padding:8px 0;
	float:left;
	width:65px;
	font-size:12px;
	text-align:center;
	border-right:2px solid #8d7349;
	border-bottom:2px solid #7b5722;
}
.sub-tot {
	margin:0;
	padding:0;
	float:left;
	width:338px;
}
.sub-tot .txt {
	margin:0;
	padding:0 5px 0 15px;
	float:left;
	width:247px;
	text-align:right;
	font-size:12px;
	border-left:2px solid #8d7349;
	border-right:2px solid #8d7349;
	border-bottom:2px solid #7b5722;
}
.sub-tot .amt {
	margin:0;
	padding:0;
	float:left;
	width:65px;
	text-align:center;
	font-size:12px;
	border-right:2px solid #8d7349;
	border-bottom:2px solid #7b5722;
}
.grand-tot {
	margin:0;
	padding:0;
	float:left;
	width:338px;
	height:18px;
	background:url(../images/order-review-bottom.png) no-repeat 0 0;
}
.grand-tot .txt {
	margin:0;
	padding:0 5px 0 15px;
	float:left;
	width:247px;
	text-align:right;
	font-size:12px;
	line-height:16px;
}
.grand-tot .amt {
	margin:0;
	padding:0;
	float:left;
	width:69px;
	text-align:center;
	font-size:12px;
	line-height:16px;
}
.checkout-step-four a.continue {
	margin:5px 0 0;
	padding:2px 5px;
	float:right;
	width:40px;
	font-size:10px;
	line-height:10px;
	text-align:center;
	background:#7b5722;
	color:#fff;
	text-decoration:none;
}
.checkout-step-four {
	margin:0;
	padding:0;
	float:left;
	width:338px;
}
input.order-button {
	cursor:pointer;
	margin:0;
	padding:2px;
	float:right;
	width:80px;
	font-size:10px;
	color:#ffffff;
	text-align:center;
	background:#7b5722;
	border:none;
}
/* Style for Usual tabs */

.usual {
	color:#111;
	padding:0;
	width:269px;
	margin:0 0 0 11px;
	float:left;
}
.usual ul {
	margin:0 0 -3px !important;
	padding:0;
	float:left;
	width:100%;
}
.usual li {
	list-style:none;
}
.usual ul a {
	display:block;
	padding:6px 10px;
	text-decoration:none!important;
	margin:0 1px;
	margin-left:0;
	font:10px Verdana;
	color:#FFF;
}
.usual ul a:hover {
	color:#FFF;
	text-decoration:underline;
}

.usual ul a#cc-tab {
	float:left;
	margin:0;
	padding:0;
	width:80px;
	height:21px;
	line-height:21px;
	background:url(../images/cc-tab.jpg) no-repeat 0 0;
	font-family:VegurRegular, Arial, Verdana, sans-serif;
	font-size:10px;
	color:#7b5722;
	text-align:center;
	cursor:pointer;
}
.usual ul a#gift-tab {
	float:right;
	margin:0;
	padding:0;
	width:80px;
	height:21px;
	line-height:21px;
	background:url(../images/gift-tab.jpg) no-repeat 0 0;
	font-family:VegurRegular, Arial, Verdana, sans-serif;
	font-size:10px;
	color:#ffffff;
	text-align:center;
	cursor:pointer;
}
.usual div a {
	color:#000;
}
.cc-tab-top {
	margin:0 !important;
	padding:0 !important;
	float:left;
	width:268px;
	height:18px;
	background:url(../images/cc-tab-top.jpg) no-repeat 0 0;
}
.cc-tab-mid {
	margin:0 !important;
	padding:0 10px !important;
	float:left;
	width:248px;
	background:#e4f5fd;
	color:#7b5722;
	font-family:VegurRegular, Arial, Verdana, sans-serif;
	font-size:11px;
}
.cc-tab-mid select {
	margin:0 0 10px;
	padding:0;
	width:141px;
	color:#7b5722;
	font-family:VegurRegular, Arial, Verdana, sans-serif;
	font-size:11px;
	border:1px solid #7b5722;
}
.cc-tab-mid select#month {
	margin:0 0 10px;
	padding:0;
	width:60px;
	color:#7b5722;
	font-family:VegurRegular, Arial, Verdana, sans-serif;
	font-size:11px;
	border:1px solid #7b5722;
}
.cc-tab-mid div {
	clear:both;
	margin:0;
	padding:0 0 10px;
	float:left;
	width:100%;
}
.cc-tab-mid div input {
	margin:0 10px 0 0;
	padding:0;
	width:87px;
	/*float:left;*/

	color:#7b5722;
	font-family:VegurRegular, Arial, Verdana, sans-serif;
	font-size:11px;
	border:1px solid #7b5722;
}
.cc-tab-mid input {
	margin:0 0 10px;
	padding:0;
	width:141px;
	color:#7b5722;
	font-family:VegurRegular, Arial, Verdana, sans-serif;
	font-size:11px;
	border:1px solid #7b5722;
}
.cc-tab-mid p {
	margin:0;
	padding:0;
	color:#7b5722;
	font-family:VegurRegular, Arial, Verdana, sans-serif;
	font-size:11px;
}
.cc-tab-bottom {
	margin:0 !important;
	padding:0 !important;
	float:left;
	width:268px;
	height:18px;
	background:url(../images/cc-tab-bottom.jpg) no-repeat 0 0;
}
.gift-tab-top {
	margin:0 !important;
	padding:0 !important;
	float:left;
	width:269px;
	height:20px;
	background:url(../images/gift-tab-top.png) no-repeat -1px 0;
}
.gift-tab-mid {
	margin:0 !important;
	padding:0 10px !important;
	float:left;
	width:248px;
	background:#7b5722;
	color:#7b5722;
	font-family:VegurRegular, Arial, Verdana, sans-serif;
	font-size:11px;
}
.gift-tab-mid input {
	margin:0 0 10px;
	padding:0;
	width:141px;
	color:#7b5722;
	font-family:VegurRegular, Arial, Verdana, sans-serif;
	font-size:11px;
	border:1px solid #dbc9b2;
}
.gift-tab-mid input[type=button] {
	margin:0 0 10px;
	padding:0;
	width:61px;
	color:#7b5722;
	text-align:center;
	font-family:VegurRegular, Arial, Verdana, sans-serif;
	font-size:10px;
	border:1px solid #dbc9b2;
	cursor:pointer;
}
.gift-tab-mid p {
	margin:0;
	padding:0;
	color:#ffffff;
	font-family:VegurRegular, Arial, Verdana, sans-serif;
	font-size:11px;
}
.gift-tab-bottom {
	margin:0 !important;
	padding:0 !important;
	float:left;
	width:269px;
	height:21px;
	background:url(../images/gift-tab-bottom.png) no-repeat -1px 0;
}
#giftMessage {
	margin:0;
	padding:10px 0;
	float:left;
	text-align:left;
	color:#ffffff;
	font-family:VegurRegular, Arial, Verdana, sans-serif;
	font-size:11px;
}
.gift-content {
	margin:0 0 0 12px;
	padding:0;
	float:left;
	width:701px;
}
.giftcontent-top {
	margin:0;
	padding:0;
	float:left;
	width:701px;
	height:31px;
	background:url(../images/content-top-bg.jpg) no-repeat 0 0;
}
.giftcontent-mid {
	margin:0;
	padding:0 36px;
	float:left;
	width:629px;
	background:#dff3fd;
}
.midcontent {
	margin:0;
	padding:20px 0;
	float:left;
	width:629px;
}
.taglines {
	margin:0;
	padding:120px 40px 0;
	float:left;
	width:360px;
	color:#64451a;
}
.taglines p {
	margin:0;
	padding:0;
	color:#64451a;
	font-family:VegurRegular, Arial, Verdana, sans-serif;
	font-size:14px;
	line-height:16px;
}
.taglines p strong {
	color:#64451a;
	font-family:VegurRegular, Arial, Verdana, sans-serif;
	font-size:18px !important;
	line-height:16px;
	font-weight:normal;
}
.giftcontent-mid h1 {
	margin:0 0 10px;
	padding:0 0 5px 30px;
	float:left;
	width:599px;
	color:#7b5722;
	border-bottom:1px solid #7b5722;
	font-family:VegurRegular, Arial, Verdana, sans-serif;
	font-size:32px;
	line-height:32px;
	background:url(../images/gift-star.jpg) no-repeat 0 5px;
	font-weight:normal;
}
.giftcontent-bottom {
	margin:0;
	padding:0;
	float:left;
	width:701px;
	height:31px;
	background:url(../images/content-bottom-bg.jpg) no-repeat 0 0;
}
.col {
	margin:20px 0 0;
	padding:0;
	float:left;
	width:629px;
	font-family:VegurRegular, Arial, Verdana, sans-serif;
	font-size:12px;
	line-height:18px;
	color:#7B5722;
}
.col-left {
	margin:0;
	padding:0 0 0 30px;
	float:left;
	width:124px;
}
.col-left p {
	margin:0;
	padding:0;
	font-family:VegurRegular, Arial, Verdana, sans-serif;
	font-size:14px;
	line-height:14px;
	color:#7b561f;
}
.col-left p span {
	font-family:Arial, Verdana, sans-serif;
	font-size:11px;
	line-height:11px;
	color:#7b561f;
}
.col-center {
	margin:0;
	padding:0 0 0 30px;
	float:left;
	width:250px;
}
.col-center p {
	margin:0;
	padding:0;
	color:#7b561f;
	/*font-family:VegurRegular, Arial, Verdana, sans-serif;*/
	font-family:Arial, Verdana, sans-serif;
	font-size:11px;
	vertical-align:top;
}
.col-center table {
	margin:0;
	padding:0;
}
.col-center table td {
	margin:0;
	padding:2px;
	color:#7b561f;
	font-family:Arial, Verdana, sans-serif;
	font-size:11px;
	vertical-align:top;
}
.col-center table td input {
	margin:0;
	padding:0;
	width:126px;
	color:#7b5722;
	font-family:Arial, Verdana, sans-serif;
	font-size:11px;
	border:1px solid #dbc9b2;
}
.col-center table td textarea {
	margin:0;
	padding:0;
	width:155px;
	height:51px;
	color:#7b561f;
	font-family:Arial, Verdana, sans-serif;
	font-size:11px;
	border:1px solid #dbc9b2;
}
.col-right {
	margin:0;
	padding:0 0 0 20px;
	float:left;
	width:135px;
}
.col-right input {
	margin:0;
	padding:2px 5px;
	color:#fff;
	font-family:VegurRegular, Arial, Verdana, sans-serif;
	font-size:11px;
	background:#7b5722;
	border:none;
	cursor:pointer;
}
/* top-content-bg */

.top-content-bg {
	margin:0 0 0 13px;
	padding:0;
	float:left;
	width:701px;
	height:31px;
	background:url(../images/content-top-bg.jpg) no-repeat 0 0;
}
.content-mid {
	margin:0 0 0 13px;
	padding:0 43px 0 69px;
	float:left;
	width:589px;
	background:url(../images/gift-star.jpg) no-repeat 38px 5px #dff3fd;
}
.content-mid p {
	margin:0;
	padding:0;
	font-family:Arial, Verdana, sans-serif;
	font-size:12px;
	color:#7b5722;
	font-weight:normal;
}
.content-mid h1 {
	margin:0 0 10px;
	padding:0;
	float:left;
	width:588px;
	font-family:VegurRegular, Arial, Verdana, sans-serif;
	font-size:32px;
	color:#7b5722;
	border-bottom:2px solid #7B5722;
	font-weight:normal;
}
.bottom-content-bg {
	margin:0 0 0 13px;
	padding:0;
	float:left;
	width:701px;
	height:31px;
	background:url(../images/content-bottom-bg.jpg) no-repeat 0 0;
}
/* SHOP Section CSS */

#prod-content {
	margin:0;
	padding:0;
	float:left;
	width:588px;
}
.for-image {
	margin:0;
	padding:0;
	float:left;
	width:212px;
	height:203px;
	position:relative;
}
.large-frame {
	position:absolute;
	margin:0;
	padding:0;
	width:212px;
	height:203px;
	background:url(../images/large-frame.png) no-repeat 0 0;
}
*:first-child+html .large-frame {
	margin:0 0 0 -212px;
	padding:0;
	float:left;
	width:212px;
	height:203px;
	background:url(../images/large-frame.png) no-repeat 0 0;
}
.zoom-buttons {
	margin:0;
	padding:21px 0 0 35px;
	float:left;
	width:177px;
}
.zoom-buttons a {
	font-family:VegurRegular, Arial, Verdana, sans-serif;
	font-size:11px;
	line-height:11px;
	padding:2px 5px;
	background:#7b5722;
	color:#ffffff;
	text-decoration:none;
}
.zoom-buttons a:hover {
	text-decoration:none;
}
.prod-leftpart {
	margin:0;
	padding:43px 14px 0 0;
	float:left;
	width:212px;
	height:203px;
}
.prod-rightpart {
	margin:0;
	padding:16px 0 0;
	float:left;
	width:337px;
}
.tabcontent {
	margin:0;
	padding:50px 0 62px;
	float:left;
	width:361px;
}


/* Style for Tabular Usual tabs */

.tabular {
	margin:0;
	padding:0;
	float:left;
	width:337px;
	text-align:center !important;
}
.tabular .usual {
	color:#111;
	padding:0;
	width:362px;
	margin:0;
	float:left;
}
.tabular .usual ul {
	margin:0 !important;
	padding:0;
	float:left;
	width:100%;
}
.tabular .usual li {
	list-style:none;
	display:inline;
}
.tabular .usual ul a {
	display:block;
	padding:6px 10px;
	text-decoration:none!important;
	margin:0 1px;
	margin-left:0;
	font:10px Verdana;
	color:#FFF;
}
.tabular .usual ul a:hover {
	color:#FFF;
	text-decoration:underline;
}
.tabular .usual ul a#main-pr-tab {
	float:left;
	margin:0;
	padding:0;
	width:79px;
	height:25px;
	line-height:25px;
	background:url(../images/first-tab-bg.png) no-repeat 0 0;
	font-family:VegurRegular, Arial, Verdana, sans-serif;
	text-align:center;
	cursor:pointer;
}
.tabular .usual ul a#main-pr-tab.selected {
	float:left;
	margin:0;
	padding:0;
	width:79px;
	height:25px;
	line-height:25px;
	background:url(../images/active-first-tab-bg.png) no-repeat 0 0;
	font-family:VegurRegular, Arial, Verdana, sans-serif;
	text-align:center;
	cursor:pointer;
}
.tabular .usual ul a#main-pr-tab h3 {
	margin:0;
	padding:0;
	font-family:Myriad Pro, Arial, Verdana, sans-serif;
	font-size:13px;
	line-height:25px;
	color:#ffffff;
	font-style:italic;
	font-weight:normal;
	text-align:center;
	cursor:pointer;
}
.tabular .usual ul a#main-pr-tab.selected h3 {
	margin:0;
	padding:0;
	font-family:Myriad Pro, Arial, Verdana, sans-serif;
	font-size:13px;
	line-height:25px;
	color:#7b561f;
	font-style:italic;
	font-weight:normal;
	text-align:center;
	cursor:pointer;
	text-transform: capitalize;
}
.top-bg {
	margin:0;
	padding:0;
	float:left;
	width:361px;
	height:21px;
	background:url(../images/left-cyan-top-bg.jpg) no-repeat 0 0;
}
.mid-bg {
	margin:0;
	padding:0;
	float:left;
	width:361px;
	background:#eef9fe;
	color:#7b561f;
}
.bottom-bg {
	margin:0;
	padding:0;
	float:left;
	width:361px;
	height:21px;
	background:url(../images/full-cyan-bottom-bg.png) no-repeat 0 0;
}
/* overview tab css */

.tabular .usual ul a#overview-tab {
	float:left;
	margin:0;
	padding:0;
	width:71px;
	height:25px;
	background:url(../images/overview-tab.png) no-repeat 0 0;
	font-family:Arial, Verdana, sans-serif;
	cursor:pointer;
}
.tabular .usual ul a#overview-tab.selected {
	float:left;
	margin:0;
	padding:0;
	width:71px;
	height:25px;
	background:url(../images/active-overview-tab.png) no-repeat 0 0;
	font-family:Arial, Verdana, sans-serif;
	cursor:pointer;
}
.topbg {
	margin:0;
	padding:0;
	float:left;
	width:361px;
	height:21px;
	background:url(../images/full-cyan-top-bg.jpg) no-repeat 1px 0;
}
.midbg {
	margin:0;
	padding:25px 50px;
	float:left;
	width:261px;
	background:#eef9fe;
	font-family:VegurRegular, Arial, Verdana, sans-serif;
	font-size:14px;
	line-height:18px;
	font-style:italic;
	color:#7b561f;
}
.midbg ul {
	margin:0;
	padding:0;
}
.midbg ul li {
	padding:0 0 0 10px;
	float:left;
	width:261px;
	list-style:none;
	display:block;
	color:#7b561f;
	background:url(../images/cont-bullet.png) no-repeat 0 5px;
	text-align:left !important;
	font-family:VegurRegular, Arial, Verdana, sans-serif;
	font-size:15px;
	line-height:18px;
	font-style:italic;
}
.bottombg {
	margin:0;
	padding:0;
	float:left;
	width:361px;
	height:21px;
	background:url(../images/full-cyan-bottom-bg.png) no-repeat 0 0;
}
.tabular .usual ul a#dimension-tab {
	float:left;
	margin:0;
	padding:0;
	width:122px;
	height:25px;
	background:url(../images/dimension-tab.png) no-repeat 0 0;
	cursor:pointer;
}
.tabular .usual ul a#dimension-tab.selected {
	float:left;
	margin:0;
	padding:0;
	width:122px;
	height:25px;
	background:url(../images/active-dimension-tab.png) no-repeat 0 0;
	cursor:pointer;
}
.t-bg {
	margin:0;
	padding:0;
	float:left;
	width:361px;
	height:21px;
	background:url(../images/full-cyan-top-bg.jpg) no-repeat 1px 0;
}
.m-bg {
	margin:0;
	padding:25px 50px;
	float:left;
	width:261px;
	background:#eef9fe;
	text-align:left !important;
	font-family:VegurRegular, Arial, Verdana, sans-serif;
	font-size:14px;
	line-height:18px;
	font-style:italic;
	color:#7b561f;
}
.m-bg ul {
	margin:0;
	padding:0;
}
.m-bg ul li {
	padding:0 0 0 10px;
	float:left;
	width:236px;
	list-style:none;
	display:block;
	color:#7b561f;
	background:url(../images/cont-bullet.png) no-repeat 0 5px;
	text-align:left !important;
	font-family:VegurRegular, Arial, Verdana, sans-serif;
	font-size:15px;
	line-height:18px;
	font-style:italic;
}
.b-bg {
	margin:0;
	padding:0;
	float:left;
	width:361px;
	height:21px;
	background:url(../images/full-cyan-bottom-bg.png) no-repeat 0 0;
}
.tabular .usual ul a#ship-tab {
	float:left;
	margin:0;
	padding:0;
	width:90px;
	height:25px;
	background:url(../images/shipping-tab.png) no-repeat 0 0;
	cursor:pointer;
}
.tabular .usual ul a#ship-tab.selected {
	float:left;
	margin:0;
	padding:0;
	width:90px;
	height:25px;
	background:url(../images/active-shipping-tab.png) no-repeat 0 0;
	cursor:pointer;
}
.tbg {
	margin:0;
	padding:0;
	float:left;
	width:361px;
	height:21px;
	background:url(../images/right-cyan-top-bg.jpg) no-repeat 1px 0;
}
.mbg {
	margin:0;
	padding:25px 30px;
	float:left;
	width:301px;
	background:#eef9fe;
	text-align:left !important;
	font-family:VegurRegular, Arial, Verdana, sans-serif;
	color:#7b561f;
	font-size:15px;
	line-height:18px;
}
.mbg p {
	font-family:VegurRegular, Arial, Verdana, sans-serif;
	color:#7b561f;
	font-size:15px;
	line-height:18px;
}
.bbg {
	margin:0;
	padding:0;
	float:left;
	width:361px;
	height:21px;
	background:url(../images/full-cyan-bottom-bg.png) no-repeat 0 0;
}
.tabular .usual div {
	margin:0 !important;
	clear:left;
}
.tabular .usual div a {
	color:#000;
}
.desc-cont {
	margin:0;
	padding:0 0 0 13px;
	float:left;
	width:324px;
}
/* CSS for colors */

.for-colors {
	margin:0;
	padding:28px 0 0;
	float:left;
	width:247px;
}
.for-colors h2 {
	margin:0 0 10px;
	padding:0;
	font-family:VegurRegular, Arial, Verdana, sans-serif;
	color:#7b5722;
	text-transform:uppercase;
	font-weight:normal;
	font-size:14px;
	line-height:18px;
	border-bottom:1px solid #7b5722;
}
.white-bg {
	margin:0;
	padding:5px 23px;
	float:left;
	width:201px;
	background:#ffffff;
	font-family:VegurRegular, Arial, Verdana, sans-serif;
	color:#7b5722;
	font-weight:normal;
}
.white-bg div {
	margin:0 4px 0 0;
	padding:0;
	width:46px;
	text-align:right;
	float:left;
	font-size:10px !important;
	line-height:10px !important;
}
.white-bg div p {
	margin:0;
	padding:0;
}
.radio-space {
	margin:0;
	padding:5px 23px;
	float:left;
	width:201px;
	text-align:center;
}
.radio-space p {
	margin:0 4px 0 0;
	padding:0;
	width:46px;
	float:left;
	text-align:center;
}
/* CSS For Lace */

.for-lace {
	margin:0;
	padding:0;
	float:left;
	width:247px;
}
.for-lace h2 {
	margin:0 0 10px;
	padding:0;
	font-family:VegurRegular, Arial, Verdana, sans-serif;
	color:#7b5722;
	text-transform:uppercase;
	font-weight:normal;
	font-size:14px;
	line-height:18px;
	border-bottom:1px solid #7b5722;
}
.for-lace p {
	margin:0;
	padding:0;
	font-family:VegurRegular, Arial, Verdana, sans-serif;
	color:#7b5722;
	font-weight:normal;
	font-size:14px;

	line-height:18px;
}
/* CSS for Letting Options */

.for-letting {
	margin:0;
	padding:10px 0 0;
	float:left;
	width:324px;
}
.for-letting h2 {
	margin:0 0 10px;
	padding:0;
	float:left;
	width:247px;
	font-family:VegurRegular, Arial, Verdana, sans-serif;
	color:#7b5722;
	text-transform:uppercase;
	font-weight:normal;
	font-size:14px;
	line-height:18px;
	border-bottom:1px solid #7b5722;
}
.for-letting p {
	margin:0;
	padding:0 0 5px;
	width:100%;
	float:left;
	font-family:Arial, Verdana, sans-serif;
	color:#7b5722;
	font-weight:normal;
	font-size:11px;
	line-height:14px;
}
.letter-img {
	margin:0;
	padding:0 15px;
	float:left;
	width:294px;
}
.letter-img p {
	width:80px;
	float:left;
	text-align:center;
}
.letter-radio {
	margin:0;
	padding:0 15px;
	float:left;
	width:294px;
}
.letter-radio p {
	width:80px;
	float:left;
	text-align:center;
}
.for-letting table {
	margin:0;
	padding:0 0 10px;
	float:left;
	width:100%;
}
.for-letting table td {
	padding:2px;
	font-family:Arial, Verdana, sans-serif;
	color:#7b5722;
	font-weight:normal;
	font-size:11px;
}
.for-letting table td input {
	margin:0;
	padding:0;
	float:left;
	width:158px;
	border:1px solid #7b5722;
	font-size:11px;
	background:none;
}
.letter-color-bg {
	margin:0;
	padding:6px;
	float:left;
	width:329px;
	background:#ffffff;
}
.letter-color-bg p {
	width:37px;
	float:left;
	text-align:center;
}
.letter-color-bg div {
	margin:0 6px 0 0;
	padding:0;
	float:left;
	width:35px;
	font-family:VegurRegular, Arial, Verdana, sans-serif;
	color:#7b5722;
	font-weight:normal;
	font-size:11px;
	text-align:right;
}
.letter-color-bg .white-colors {
	margin:0;
	padding:0;
	float:left;
	width:35px;
	height:35px;
	background:#ffffff;
	border:2px solid #7b5722;
}
.letter-color-bg .brown-colors {
	margin:0;
	padding:0;
	float:left;
	width:35px;
	height:35px;
	background:#7b561f;
	border:2px solid #7b5722;
}
.letter-color-bg .orange-colors {
	margin:0;
	padding:0;
	float:left;
	width:35px;
	height:35px;
	background:#fbb150;
	border:2px solid #7b5722;
}
.letter-color-bg .green-colors {
	margin:0;
	padding:0;
	float:left;
	width:35px;
	height:35px;
	background:#abcf65;
	border:2px solid #7b5722;
}
.letter-color-bg .baby-colors {
	margin:0;
	padding:0;
	float:left;
	width:35px;
	height:35px;
	background:#9cd6e3;
	border:2px solid #7b5722;
}
.letter-color-bg .blue-colors {
	margin:0;
	padding:0;
	float:left;
	width:35px;
	height:35px;
	background:#0c89bd;
	border:2px solid #7b5722;
}
.letter-color-bg .pink-colors {
	margin:0;
	padding:0;
	float:left;
	width:35px;
	height:35px;
	background:#f278a2;
	border:2px solid #7b5722;
}
.letter-color-bg .purple-colors {
	margin:0;
	padding:0;
	float:left;
	width:35px;
	height:35px;
	background:#a96ca1;
	border:2px solid #7b5722;
}
.letter-color-radio {
	margin:0;
	padding:6px;
	float:left;
	width:329px;
}
.letter-color-radio p {
	margin:0 5px 0 0;
	width:35px;
	float:left;
	text-align:center;
}
.add-to-cart {
	clear:both;
	margin:0;
	padding:0;
	float:left;
	width:345px;
}
.add-to-cart p {
	margin:0;
	padding:0;
	width:250px;
	float:left;
	color:#7b5722;
	font-family:Arial, Verdana, sans-serif;
	font-size:11px;
	line-height:11px;
	font-style:italic;
}
.add-to-cart input {
	margin:0;
	padding:2px;
	float:right;
	width:83px;
	text-align:center;
	color:#ffffff;
	font-family:VegurRegular, Arial, Verdana, sans-serif;
	font-size:11px;
	line-height:11px;
	border:none;
	background:#7b5722;
	cursor:pointer;
}
.order-msg {
	margin:0 0 20px;
	padding:5px 2px 9px !important;
	float:left;
	width:334px;
	height:26px;
	background:url(../images/ord-msg-bg.jpg) no-repeat 0 0;
}
.order-msg p {
	margin:0;
	padding:0;
	color:#ffffff !important;
	font-family:Arial, Verdana, sans-serif;
	font-size:10px !important;
	line-height:10px !important;
	text-align:center !important;
}
.reg-module {
	margin:0;
	padding:0;
	float:left;
	width:589px;
}
.reg-module p {
	margin:0;
	padding:0;
}
.reg-module table {
	margin:0;
	padding:0;
	float:left;
	width:100%;
}
.reg-module table td {
	padding:2px;
	color:#7b5722;
	font-size:12px;
	text-align:right;
	vertical-align:top;
}
.reg-module table td input {
	margin:0;
	padding:0;
	float:left;
}
.reg-module table td input {
	padding:2px;
	width:200px;
	border:1px solid #7b5722;
	color:#7b5722 !important;
	font-family:Arial, Verdana, sans-serif;
	font-size:11px !important;
}
.reg-module table td input#p[type="password"] {
	padding:2px;
	width:200px;
	border:1px solid #7b5722;
	color:#7b5722 !important;
	font-family:Arial, Verdana, sans-serif;
	font-size:11px !important;
}
.reg-module table td input[type="submit"] {
	padding:2px;
	width:70px;
	border:none;
	color:#ffffff !important;
	background:#7b5722;
	font-family:VegurRegular, Arial, Verdana, sans-serif;
	font-size:11px !important;
	cursor:pointer;
}
.reg-module table td a {
	color:#7b5722;
	font-family:VegurRegular, Arial, Verdana, sans-serif;
	font-size:11px !important;
	text-decoration:none;
}
.reg-module table td a:hover {
	color:#7b5722;
	font-family:VegurRegular, Arial, Verdana, sans-serif;
	font-size:11px !important;
	text-decoration:underline;
}
/* Accordion CSS */

ul.menu, ul.menu ul {
	list-style-type:none;
	margin: 0;
	padding: 0;
	width: 338px;
}
ul.menu a {
	display: block;
	text-decoration: none;
}
ul.menu li a {
	color: #7b5722;
}
ul.menu li a:hover {
	text-decoration:none;
}
ul.menu li ul li a {
	color: #7b5722;
}
ul.menu li ul li a:hover {
	text-decoration:none;
}
.code {
	border: 1px solid #ccc;
	list-style-type: decimal-leading-zero;
	padding: 5px;
	margin: 0;
}
.code code {
	display: block;
	padding: 3px;
	margin-bottom: 0;
}
.code li {
	background: #ddd;
	border: 1px solid #ccc;
	margin: 0 0 2px 2.2em;
}
.indent1 {
	padding-left: 1em;
}
.indent2 {
	padding-left: 2em;
}
.indent3 {
	padding-left: 3em;
}
.indent4 {
	padding-left: 4em;
}
.indent5 {
	padding-left: 5em;
}
/* Shop Gallery */

.for-shop {
	margin:0 0 0 15px;
	padding:0;
	float:left;
	width:705px;
	min-height:693px;
}
.shop-bg {
	margin:0;
	padding:0;
	width:705px;
	height:693px;
	background:url(../images/shop-gallery-bg.png) no-repeat 0 0;
	position:absolute;
}
.slider-wrap {
	margin:4px 0 0 7px;
	padding:0;
	position: absolute;
	width: 686px;
}
.stripViewer .panelContainer .panel ul {
	margin:0;
	text-align: left;
}
.wrapper {
	margin:0 0 0 270px;
	padding:0;
	float:left;
	width:686px;
}
.stripViewer {
	margin:0;
	padding:0;
	height: 505px;
	overflow: hidden;
	position: relative;
	width:686px;
}
.stripViewer .panelContainer {
	left: 0;
	position: relative;
	top: 0;
}
.stripViewer .panelContainer .panel {
	float: left;
	height: 100%;
	position: relative;
	width: 686px;
}
.stripNavL, .stripNavR, .stripNav {
	display: none;
}
.nav-thumb {
	margin-right: 5px;
}
#movers-row {
	margin:540px 0 0;
	padding:0;
	float:left;
	width:686px;
}
#movers-row a img {
	border:none;
}
#movers-row div {
	float: left;
	width: 20%;
}
#movers-row div a.cross-link {
	float: right;
}
.photo-meta-data {
	background:none;
	color: white;
	height: 30px;
	margin-top: -50px;
	padding: 10px;
	position: relative;
	z-index: 100;
}
.photo-meta-data span {
	font-size: 13px;
}
.cross-link {
	display: block;
	/*margin-top: -14px;

    padding-top: 15px;*/

    position: relative;
	/*    width: 62px;

*/    z-index: 100;
}
.active-thumb {
	background:none;
}
p.loading {
	display:none;
}
/* CSS for Home page gallery */

.home-bg {
	margin:0;
	padding:0 0 10px 20px;
	float:left;
	width:716px;
}
.home-bg-frame {
	margin:0;
	padding:0;
	position:relative;
	width:690px;
	height:504px;
	background:url(../images/home-frame.png) no-repeat 0 0;
}
#slideshow {
	margin:0;
	padding:0;
	position:absolute;
	min-height:510px;
}
#slideshow IMG {
	position:absolute;
	top:0;
	left:0;
	z-index:8;
	opacity:0.0;
}
#slideshow IMG.active {
	z-index:10;
	opacity:1.0;
}
#slideshow IMG.last-active {
	z-index:9;
}
.footer-bg {
	margin:0;
	padding:0;
	float:left;
	width:100%;
	background:#ffffff;
}
.footer-links {
	margin:0 0 0 20px;
	padding:0;
	float:left;
	width:690px;
	height:20px;
	background:#e0f3fd;
}
.footer-links p {
	margin:0;
	padding:0 10px 0 0;
	float:right;
	width:250px;
	color:#7b5722;
	font-family:Arial, Verdana, sans-serif;
	/*font-family:VegurRegular, Arial, Verdana, sans-serif;*/

	font-size:10px !important;
	line-height:10px;
}
.footer-links ul {
	margin:0 0 0 10px;
	padding:0;
	float:left;
}
.footer-links ul li {
	line-height:20px;
	padding:0 0 0 10px;
	list-style:none;
	display:inline;
	background:url(../images/footer-bullet.jpg) no-repeat 0 3px;
}
.footer-links ul li a {
	padding:0 5px 0 3px;
	color:#7b5722;
	font-family:Arial, Verdana, sans-serif;
	/*font-family:VegurRegular, Arial, Verdana, sans-serif;*/

	font-size:11px !important;
	text-decoration:none;
}
.footer-links ul li a:hover {
	color:#7b5722;
	font-family:Arial, Verdana, sans-serif;
	/*font-family:VegurRegular, Arial, Verdana, sans-serif;*/

	font-size:11px !important;
	line-height:20px;
	text-decoration:underline;
}
/* ========================== CSS for Photo Gallery Page starts here =========================== */
.for-photo-gallery{
	margin:0;
	padding:0 0 25px 20px;
	float:left;
	width:716px;
	background:#ffffff;
}
.photo-gallery-bg{
	margin:-510px 0 0;
	padding:0;
	position:absolute;
	width:716px;
	height:550px;
	z-index:1000;
	background:url(../images/photo-gallery-frame.png) no-repeat 0 0;
}
.anythingSlider {
	width:716px;
	height:550px;
	position: relative;
	margin:0 auto;
}
.anythingSlider .gallery-wrapper {
	width:690px;
	float:left;
	overflow: auto;
	height:504px;
	position: absolute;
	margin:6px 0 0 7px;
}
.anythingSlider .gallery-wrapper ul {
	float:left;
	width:9999px;
	list-style: none;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding:0;
}
.anythingSlider ul li {
	display: block;
	float: left;
	margin:0;
	padding:0;
	width: 690px;
	height: 504px;
	text-align:center;
}
.anythingSlider ul li img {
	display: block;
	float: left;
	margin:0;
	padding:0;
}
.anythingSlider ul li a {
	margin:0;
	padding:0;
	font-family:Verdana, Arial, Sans-Serif;
	font-size:12px;
	font-weight:bold;
	color:#bcbbbb;
}
.anythingSlider .arrow {
	clear:both;
	float:left;
	margin:0;
	padding:0;
	display: block;
	height: 171px;
	width: 23px;
	text-indent: -9999px;
	position: absolute;
	display:none;
}
.anythingSlider .forward {
	background: url(images/right-arrow.png) no-repeat 0 0;
	background-position:right;
	float:left;
	right:-20px;
	cursor:pointer;
	display:none;
}
.anythingSlider .back {
	background:url(images/left-arrow.png) no-repeat 0 0;
	background-position:left;
	float:left;
	left:-35px;
	cursor:pointer;
	display:none;
}
#thumbNav {
	position: relative;
	top: 290px;
	text-align: right;
	display:none;
}
/* ========================== CSS for Photo Gallery Page ends here =========================== */
.copyright{
	clear:both;
	margin:0 0 0;
	padding:0;
	position:absolute;
	width:690px;
	text-align:right;
	z-index:200000;
}/*
*:first-child+html .copyright {
	clear:both;
	margin:520px 0 0;
	padding:0;
	position:absolute;
	width:690px;
	text-align:right;
}*/
.copyright p {
	text-align:right;
	color:#7b5722;
	/*font-family:VegurRegular, Arial, Verdana, sans-serif;*/

	font-family:Arial, Verdana, sans-serif;
	font-size:11px !important;
	line-height:11px;
}
/* CSS for Inner Pages with contents starts here */

.text-content {
	margin:0 0 0 12px;
	padding:0;
	float:left;
	width:701px;
}
.text-content-top {
	margin:0;
	padding:0;
	float:left;
	width:701px;
	height:31px;
	background:url(../images/content-top-bg.jpg) no-repeat 0 0;
}
.text-content-mid {
	margin:0;
	padding:0 70px;
	float:left;
	width:561px;
	background:#dff3fd;
}
.text-content-bottom {
	margin:0;
	padding:0;
	float:left;
	width:701px;
	height:31px;
	background:url(../images/content-bottom-bg.jpg) no-repeat 0 0;
}
.leftcontent {
	margin:0;
	padding:70px 42px 0 0;
	float:left;
	width:238px;
}
.leftcontent h3 {
	padding:0;
	margin:0;
	color:#7b5722;
	font-size:20px;
	font-family:VegurRegular, Arial, Verdana, sans-serif;
	font-weight:normal;
	border-bottom:1px solid #7b5722;
}
.leftcontent p {
	padding:5px 0;
	margin:0;
	color:#7b5722;
	font-size:12px;
	font-family:Arial, Verdana, sans-serif;
	font-weight:normal;
}
.leftcontent p a {
	color:#7b5722;
	font-size:11px;
	font-family:Arial, Verdana, sans-serif;
	font-weight:normal;
	text-decoration:none;
	font-style:italic;
}
.leftcontent p a:hover {
	text-decoration:underline;
}
.leftcontent span.special-txt {
	padding:0;
	margin:0;
	color:#7b5722;
	float:right;
	font-size:13px;
	font-family:VegurRegular, Arial, Verdana, sans-serif;
	font-weight:bold;
	font-style:italic;
	letter-spacing:-1px;
}
.rightcontent {
	margin:0;
	padding:0;
	float:left;
	width:281px;
}
.rightcontent p {
	text-align:center;
}
.left-content {
	margin:0;
	padding:0;
	float:left;
	width:270px;
}
.right-content {
	margin:0;
	padding:15px 20px 50px 40px;
	float:left;
	width:230px;
}
.right-content h3 {
	padding:0;
	margin:0;
	color:#7b5722;
	font-size:20px;
	font-family:VegurRegular, Arial, Verdana, sans-serif;
	font-weight:normal;
	border-bottom:1px solid #7b5722;
}
.right-content p {
	padding:5px 0;
	margin:0;
	color:#7b5722;
	font-size:12px;
	font-family:Arial, Verdana, sans-serif;
	font-weight:normal;
}
.about-content {
	margin:0;
	padding:20px 120px;
	float:left;
	width:496px;
}
.about-content p span {
	color:#7b561f;
	font-size:26px;
	font-family:VegurRegular, Arial, Verdana, sans-serif;
	font-weight:bold;
}
.about-content p {
	padding:5px 0 10px;
	text-align:center;
	color:#7b561f;
	font-size:18px;
	line-height:24px;
	font-family:VegurRegular, Arial, Verdana, sans-serif;
	font-weight:normal;
}
.care-content {
	margin:0;
	padding:50px 50px 0 100px;
	float:left;
	width:586px;
}
.care-content ul {
	margin:0;
	padding:0;
}
.care-content ul li {
	padding:5px 0 10px 20px;
	text-align:left;
	list-style:none;
	background:url(../images/content-bullet.jpg) no-repeat 0 11px;
	color:#7b561f;
	font-size:14px;
	line-height:20px;
	font-family:VegurRegular, Arial, Verdana, sans-serif;
	font-weight:normal;
}
.c-info-content {
	margin:0;
	padding:0 50px 0;
	float:left;
	width:636px;
}
.c-info-content .cont {
	margin:0;
	padding:0;
	float:left;
	width:636px;
}
.c-info-content .cont ul {
	margin:0;
	padding:0;
}
.c-info-content .cont ul li {
	margin:0;
	padding:10px 0 0 20px;
	list-style:none;
	background:url(../images/star-bullet.jpg) no-repeat 0 12px;
	color:#7b5722;
	font-size:14px;
	font-family:VegurRegular, Arial, Verdana, sans-serif;
	font-weight:normal;
}
.c-info-content .cont li h3 {
	padding:0;
	margin:0 0 10px;
	color:#7b5722;
	font-size:16px;
	font-family:VegurRegular, Arial, Verdana, sans-serif;
	font-weight:bold;
	font-style:italic;
}
.c-info-content .cont p {
	padding:5px 0;
	margin:0;
	color:#7b5722;
	font-size:14px;
	font-family:VegurRegular, Arial, Verdana, sans-serif;
	font-weight:normal;
}
.c-info-content .cont p a {
	color:#7b5722;
	font-size:14px;
	font-family:VegurRegular, Arial, Verdana, sans-serif;
	font-weight:bold;
	text-decoration:none;
	font-style:italic;
}
.c-info-content .cont p a:hover {
	text-decoration:underline;
}
.productlisting .thumbnail {
	margin:0;
	padding:10px 0 10px 8px;
	float:left;
	width:92px;
	height:77px;
	background:url(../images/thumb-frame.png) no-repeat 8px 8px;
}
.productlisting h3 {
	margin:0;
	padding:5px 0;
	color:#7b5722;
	font-size:15px;
	font-family:VegurRegular, Arial, Verdana, sans-serif;
	font-weight:bold;
}
.productlisting h3 a {
	color:#7b5722;
	text-decoration:none;
}
.productlisting h3 a:hover {
	text-decoration:underline;
}

.productlisting p {
	margin:0;
	padding:5px 0 10px;
	color:#7b5722;
	font-size:12px;
	font-family:VegurRegular, Arial, Verdana, sans-serif;
	font-weight:normal;
}
.cartbutton {
	margin:0;
	padding:0;
	float:left;
	width:100px;
}
.cartbutton a {
	margin:0;
	padding:2px 5px;
	float:left;
	width:50px;
	text-align:center;
	background:#7b5722;
	color:#ffffff;
	font-size:11px;
	font-family:VegurRegular, Arial, Verdana, sans-serif;
	font-weight:normal;
	text-decoration:none;
}
.cartbutton a:hover {
	text-decoration:none;
}
a.leftside-menu {
	margin:0 0 10px 10px;
	padding:0;
	float:left;
	width:104px;
	height:18px;
	background:url(../images/top-tab.jpg) no-repeat 0 0;
}
a.leftside-menu:hover {
}
label.error {
	color:#F00;
	width:50%;
	text-align:left;
}
/* error msg*/

#msg {
	display:none;
	position:absolute;
	z-index:200;
	background:url(../images/msg_arrow.gif) left center no-repeat;
	padding-left:7px
}
#msgcontent {
	display:block;
	background:#e8f6fe;
	border:2px solid #7b561f;
	border-left:none;
	padding:5px;
	min-width:110px;
	max-width:250px;
	font-size:11px;
}
/* ================== Order Result Page ================== */

.process {
	margin:0;
	padding:0;
	background:none;
	border:none;
	color:#7b5722;
}
.result-table {
	margin:0;
	padding:0;
	float:left;
	width:100%;
	text-align:left;
	color:#7b5722;
}
.result-table table {
	margin:0;
	padding:0;
	float:left;
	width:400px;
	text-align:left;
	color:#7b5722;
	border-top:1px solid #7b5722;
	border-right:1px solid #7b5722;
}
.result-table table td {
	padding:5px;
	font-family:Arial, Helvetica, sans-serif;
	color:#7b5722;
	font-size:12px;
	line-height:12px;
	border-left:1px solid #7b5722;
	border-bottom:1px solid #7b5722;
}
/* ============ #contactUs ================ */

form#contactUs {
	margin:0;
	padding:0;
	float:left;
	width:100%;
}
form#contactUs .for-row {
	margin:0;
	padding:10px 0 10px;
	float:left;
	width:100%;
	color:#7b5722;
}
form#contactUs .for-row p {
	margin:0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
form#contactUs .for-row label {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
form#contactUs .for-col {
	margin:0;
	padding:0;
	float:left;
	width:100%;
	color:#7b5722;
}
form#contactUs .for-col input[type=text] {
	border:1px solid #7b5722;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
form#contactUs .for-col textarea {
	border:1px solid #7b5722;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
form#contactUs .for-col input[type=submit] {
	margin:0;
	padding:0;
	float:left;
	width:60px;
	text-align:center;
	line-height:12px;
	height:20px;
	background:#7b5722;
	border:1px solid #7b5722;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	cursor:pointer;
	font-weight:bold;
	color:#ffffff;
}
.checkout-step-two .left-col input#upassword[type="password"] {
	padding:0;
	width:150px;
	border:1px solid #7b5722;
	color:#000000 !important;
	font-family:Arial, Verdana, sans-serif;
	font-size:11px !important;
}
.checkout-step-two .left-col input#cpassword[type="password"] {
	padding:0;
	width:150px;
	border:1px solid #7b5722;
	color:#000000 !important;
	font-family:Arial, Verdana, sans-serif;
	font-size:11px !important;
}
.gift-table {
	margin:20px 0 0;
	padding:0;
	float:left;
	width:589px;
	color:#7b5722;
	border-top:1px solid #7b5722;
}
.gift-table h2 {
	clear:both;
	margin:0;
	padding:20px 0;
	color:#7b5722;
	font-size:16px;
	font-family:Arial, Helvetica, sans-serif;
}
.gift-table table {
	margin:0;
	padding:0;
	float:left;
	width:589px;
	color:#7b5722;
	border-top:1px solid #7b5722;
	border-right:1px solid #7b5722;
}
.gift-table table td {
	color:#7b5722;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	border-bottom:1px solid #7b5722;
	border-left:1px solid #7b5722;
}

.msg-error p{
	color:#ff0000;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	line-height:20px;
}
#slider-wrapper{
	margin:0;
	padding:0;
}